<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<system.web>
		<customErrors mode="Off"/>
	</system.web>
	
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".mjs" mimeType="text/javascript"/>
      <mimeMap fileExtension=".ftl" mimeType="application/x-freemarker" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="Handle History Mode and custom 404/500" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/public/" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>